<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),
            dl=l!='dataLayer'?'&l='+l:'';
        j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= process.env.GTM_ID %>');
    </script>
    <!-- End Google Tag Manager -->
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Major League GitHub</title>
    
    <!-- Open Graph / Social Media Meta Tags -->
    <meta property="og:title" content="<%= process.env.OG_TITLE %>" />
    <meta property="og:description" content="<%= process.env.OG_DESCRIPTION %>" />
    <meta property="og:type" content="<%= process.env.OG_TYPE %>" />
    <meta property="og:image" content="<%= process.env.OG_IMAGE_URL %>" />
    <meta property="og:url" content="<%= process.env.OG_URL %>" />
    <meta property="og:site_name" content="<%= process.env.OG_SITE_NAME %>" />
    
    <!-- Additional Meta Tags for SEO -->
    <meta name="description" content="<%= process.env.OG_DESCRIPTION %>" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= process.env.GTM_ID %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="root"></div>
  </body>
</html>
